@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }
}

body {
  @apply bg-black text-white;
  background: radial-gradient(circle at 50% 50%, #1a0033 0%, #000000 70%);
}
